---
import Logo from "@/components/Logo.astro";
---

<header
  id="header-nav"
  class="flex justify-between items-center py-3 w-[1120px]"
>
  <Logo class="size-6" />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#about">Sobre mí</a>
    <a href="#experience">Experiencia</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
